/* Work Sans font From Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styled */
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}

nav h3 {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

/* banner styled */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 80px auto 20px auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    width: 100%;
}

/* Main section start */
main {
    max-width: 1440px;
    margin: 80px auto 80px auto;
    padding: 0 240px;
}

.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1.5rem;
}

.team-img-container img {
    width: 100%;
}

.team-content-container {
    width: 100%;
    padding-left: 4rem;
}

.team-title {
    font-size: 45px;
}

.team-content-container .quick-list {
    color: #727272;
    font-weight: 500;
}

.team-content-container .team-feature {
    color: #FF900E;
    font-weight: 700;
}

.team-description {
    color: #727272;
}

/* feature container style */
.feature-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 50px;
}

.feature-content {
    width: 100%;
}

.feature-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.feature-description {
    color: #727272;
}

.feature-content .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.feature-content .feature-card-title {
    font-size: 1.1rem;
    color: #131313;
    font-weight: 600;
}

.feature-content .feature-card-description {
    font-size: 1rem;
    color: #727272;
}

.feature-img img {
    height: 100%;
    width: 90%;
    object-fit: cover;
    margin-left: 50px;
}

.ten-year-badge {
    width: 70%;
    border-radius: 8px;
    background: #FF900E;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-year-badge h2{
    font-size: 2rem;
    color: #FFF;
    font-weight: 700;
    margin: 0;
}
/* some fact style */
.some-fact-container {
    margin-top: 50px;
}

.some-fact-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.some-fact-description {
    max-width: 600px;
    color: #727272;
    margin-top: 20px;
}

.fact-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.fact-card-container .fact-stats {
    color: #424242;
    font-weight: 600;
    font-size: 2.8rem;
}

.fact-card-container .fact-title {
    color: #727272;
}

/* sponsor styled */
.sponsor {
    text-align: center;
}

.sponsor-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.sponsor-description {
    max-width: 542px;
    color: #727272;
    margin: 24px auto;
}

.sponsor-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/* Responsive design */
@media screen and (max-width:576px) {

    header,
    main {
        padding: 20px;
    }

    nav,
    .fact-card-container,
    .sponsor-img-container,
    .feature-container {
        flex-direction: column;
    }

    .team-container {
        flex-direction: column-reverse;
    }

    nav>ul,
    main {
        margin-top: 50px;
    }

    .banner-content {
        margin: 40px auto 10px auto;
    }

    .team-content-container {
        padding: 0;
    }

    .team-content-container {
        margin-bottom: 10px;
    }

    .fact-card-container {
        gap: 20px;
    }

    .sponsor-img-container {
        gap: 30px;
    }
    .ten-year-badge{
        position: static;
        margin-left: 0;
        width: 50%;
    }
}

@media screen and (min-width:576px) and (max-width:982px) {

    header,
    main {
        padding: 50px;
    }

    nav,
    .team-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    nav>ul,
    main {
        margin-top: 50px;
    }

    .banner-content {
        margin: 40px auto 10px auto;
    }

    .sponsor-img-container {
        gap: 30px;
    }
}